.banner{width:100%;/*height:66%; */position: fixed; z-index:5;  text-align: center;  overflow:hidden;}  /* height:66%;*/
.banner ul.list-img{height:100%;position: absolute;left:0; overflow:hidden;}
/*.banner img{width:100%;}   height:980px;   height:auto;*/
.banner ul.list-img li{width:1920px;height:100%;float:left;  overflow: hidden;position: relative;} /*改banner width:100%;*/
.banner ul.list-img li img{width:100%;height:100%;position: absolute;left:0;top:0}
/*.banner ul.list-img li:nth-child(1) img{left:-200px;top:-100px}
.banner ul.list-img li:nth-child(2) img{left:0;top:-100px}
.banner ul.list-img li:nth-child(3) img{left:0;top:-100px}*/
/*.banner li:nth-child(1){background: url(../images/indexbanner1.jpg) no-repeat center }
.banner li:nth-child(2){background: url(../images/indexbanner2.jpg) no-repeat center}
.banner li:nth-child(3){background: url(../images/indexbanner3.jpg) no-repeat center}*/

.banner .list-btn{display:inline-block; position:absolute;bottom:30px;left:50%;margin-left:-64px;}
.banner .list-btn span{display:inline-block;width:20px;height:20px;background: #f39c41;border-radius: 50%; border:2px solid transparent;  margin-right:23px;cursor: pointer}
.banner .list-btn span.last{margin-right: 0}
.banner .list-btn span.current{border:2px solid #fff}

/*.content{top:66%}*/
.swbg{bottom:747px;}

.intro{color:#222;  }
.intro .text{width:600px;}
.intro .step h4{line-height:60px; }
.intro .step h5{font-size: 30px;font-variant: small-caps;margin:0 0 0 30px; font-weight: 500;line-height: 56px; }
.intro p{line-height:34px;margin-bottom:10px;    height:242px;}
.intro a{display:inline-block;line-height:40px;padding-right:20px;background:url(../images/more.png) no-repeat right center; font-size:22px;color:#222}
.video{width:550px;overflow: hidden}
video{width:100%;height:100%}

.serviceProject .ser{text-align: center}
.project{padding:80px 0;background: url(../images/bji03480148.png) no-repeat center}
.serviceProject .project .desc{width:504px;height:567px;overflow:hidden;background-color:rgba(225,129,34,.5); display: none}/* position:relative*    rgba(189,106,27,.5)*/
.project .desc.block{/*display:block;*/display:table;  }

.project .desc p{ display:table-cell;vertical-align:middle;padding:0 30px; color:#fff;line-height:40px;}

.picList li:nth-child(1){background: url(../images/indexSer01.jpg) no-repeat center;background-size:cover}
.picList li:nth-child(2){background: url(../images/indexSer02.jpg) no-repeat center;background-size:cover}
.picList li:nth-child(3){background: url(../images/indexSer03.jpg) no-repeat center;background-size:cover}
.picList li:nth-child(4){background: url(../images/indexSer04.jpg) no-repeat center;background-size:cover}

.picList li{background-size:cover;   width:160px;height:567px;float:left;margin-left:14px; transition: transform .8s ease;  }
.picList li a{width:160px;height:567px; display:table-cell;text-align:center;vertical-align: middle;}
.picList li  p{width:50px;margin-left:55px;font-size: 26px;color:#fb921b; display:none; }
.picList li  p span{display:inline-block;transform: rotateZ(90deg);-webkit-transform:rotateZ(90deg);
    -ms-transform:rotateZ(90deg);font-size: 26px;margin:12px 0 10px -7px; letter-spacing: 2px; }
.picList li:hover{-ms-transform:translateY(-40px);-webkit-transform:translateY(-40px);-moz-transform:translateY(-40px);transform:translateY(-40px);}
.picList li:hover p{display:block;}

/*.info{background: url(../images/bg.png) no-repeat right top;}*/
.advantage li{width:190px;float:left;  text-align: center;margin-left:146px;}
.advantage li:first-child{ margin-left:0;}
.advantage li h4{margin-top:5px;  letter-spacing: 5px}
.advantage li p{line-height:24px;}
.info  .topic{text-align: center;color:#222;margin:30px 0;}
.commonSense dl{width:370px;padding:0 15px;color:#222; float:left}
.commonSense dt{font-size: 20px;line-height:50px}
.commonSense dd{line-height:40px}
.commonSense dd span{display:inline-block;width:12px;height:12px;border-radius: 50%;  background: #aaa;}
.commonSense dd a{padding:0 10px;}
.commonSense dd img{width:100%;height:145px;}
.commonSense dl>a{display:inline-block;line-height:40px;padding-right:20px;margin-right:20px;background:url(../images/more.png) no-repeat right center;font-size:22px;color:#222}
.commonSense dt a,.commonSense dd a{display:inline-block;color:#000}
.commonSense dd:hover span{background: #fb921b}
.commonSense dd:hover a{color:#fb921b}
.commonSense .news a.pic{padding:0}

.contact .conta{padding:15px 0;background:url(../images/contac.png) no-repeat}
.conta h5{margin-bottom: 0}